{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div data-controller="alert"
             class="flash-message flash-{{ label }} fixed top-4 right-4 flex gap-2 items-center z-99" role="alert">
            <div class="icon">
                {% if label == "success" %}
                    {{ ux_icon('lucide:badge-check', {height: "20px", width: "20px"}) }}
                {% elseif label == "notice" %}
                    {{ ux_icon('lucide:badge-info', {height: "20px", width: "20px"}) }}
                {% else %}
                    {{ ux_icon('lucide:badge-alert', {height: "20px", width: "20px"}) }}
                {% endif %}
            </div>
            <div>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
