{% extends 'base.html.twig' %}

{% block title %}Liste des marques - HardWareHouse{% endblock %}

{% block body %}
    <h1>Brands list</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Slug</th>
            <th>Logo</th>
        </tr>
        </thead>
        <tbody>
        {% if brands is not null %}
            {% for brand in brands %}
                <tr>
                    <td><a href="{{ path('brand.show', {slug: brand.slug}) }}">{{ brand.id }}</a></td>
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.slug }}</td>
                    <td><img src="{{ brand.logo }}" alt="{{ brand.name }} logo" class="size-16"/></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No results founds</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% include '_partials/_pagination.html.twig' with {pagination: pagination} %}
{% endblock %}
