{% extends 'base.html.twig' %}

{% block title %}{{ brand.name }} - HardWareHouse{% endblock %}

{% block body %}
    <h1>{{ brand.name }}</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Thumbnail</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('product.show', {slug: product.slug}) }}">{{ product.id }}</a></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.slug }}</td>
                    <td><img src="{{ product.thumbnail }}" alt="{{ product.name }} preview" class="size-16" /></td>
                    <td>{{ product.price|currency }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
