{% extends 'base.html.twig' %}

{% block title %}{{ 'user.profile.title'|trans(domain = "title") }} - HardWareHouse{% endblock %}

{% block body %}
    <h1>{{ 'user.profile.title'|trans }}</h1>

    {% if user.avatar is not null %}
        <img src="{{ '/uploads/images/avatar/' ~ user.avatar }}" alt="Profile picture" class="object-cover size-48" />
    {% endif %}

    <div>
        <h2>{{ 'user.profile.informations.title'|trans }}</h2>
        <div id="user-infos-displayed" class="flex flex-col">
            <div>
                {{ 'user.profile.informations.email.label'|trans }} : <span id="email-text">{{ user.email }}</span>
            </div>
            <div>
                {{ 'user.profile.informations.username.label'|trans }} : <span id="username-text">{{ user.username }}</span>
            </div>

        </div>
    </div>

    <turbo-frame id="user-password">
        <a href="{{ path('profile.password') }}">Modifier mon mot de passe</a>
    </turbo-frame>

    <turbo-frame id="user-infos">
        <a href="{{ path('profile.infos') }}">Modifier mes informations</a>
    </turbo-frame>
{% endblock %}
