{% extends 'base.html.twig' %}

{% block title %}{{ 'user.profile.title'|trans(domain = "title") }} - HardWareHouse{% endblock %}

{% block body %}
    <div class="md:mx-auto md:max-w-6xl">
        <h1>{{ 'user.profile.title'|trans }}</h1>
            <h2>{{ 'user.profile.informations.title'|trans }}</h2>

        <div class="md:flex md:gap-2">
            <div class="img">
                <img src="{{ user.avatar }}" alt="Avatar of user" class="object-cover rounded-md size-40" />
            </div>
            <div id="user-infos-displayed" class="flex flex-col flex-1">
                <div>
                    {{ 'user.profile.informations.email.label'|trans }} : <span id="email-text">{{ user.email }}</span>
                </div>
                <div>
                    {{ 'user.profile.informations.username.label'|trans }} : <span id="username-text">{{ user.username }}</span>
                </div>

                {% if user.addresses is not empty %}
                    <div>
                        {{ 'user.profile.informations.addresses.label'|trans }} : <span id="addresses-text"><a href="{{ path('address.edit', {id: user.addresses[0].id }) }}">{{ user.addresses[0].label }}</a></span>
                    </div>
                {% endif %}

                <div class="w-full">
                    <turbo-frame id="user-password">
                        <a href="{{ path('profile.password') }}">{{ 'user.profile.informations.password.edit.label'|trans }}</a>
                    </turbo-frame>
                </div>
                <div class="w-full">
                    <turbo-frame id="user-infos">
                        <a href="{{ path('profile.infos') }}">{{ 'user.profile.informations.infos.edit.label'|trans }}</a>
                    </turbo-frame>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-2 mt-2">
            <div class="md:flex md:gap-2 md:items-center">
                <h2 class="mb-0">{{ 'user.profile.addresses.label'|trans }}</h2>
                <a href="{{ path('address.add') }}">{{ 'user.profile.addresses.add.label'|trans }}</a>
            </div>
            <div>
                <ul>
                    {% if user.addresses is not empty %}
                        {% for address in user.addresses %}
                            <li class="flex gap-2 items-center">
                                <a href="{{ path('address.edit', {id: address.id}) }}">{{ ux_icon('heroicons-solid:pencil-square', {class: 'size-6'}) }}</a>
                                <span>{{ 'user.profile.addresses.address.label'|trans }}: {{ address.label }}</span>
                            </li>
                        {% endfor %}
                        {% else %}
                        <li><span>{{ 'user.profile.addresses.empty.label'|trans }}</span></li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </div>

{% endblock %}
