{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Éditer vos informations</h1>

    <turbo-frame id="modal_content">
        <div class="block md:flex md:flex-col md:gap-4">
            <h2 class="mb-4">Éditer vos informations</h2>
            {{ form_start(form, {action: path('profile.infos')}) }}
            <div class="flex flex-row gap-4">
                <div class="flex-1">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_help(form.email) }}
                </div>
                <div class="flex-1">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_help(form.username) }}
                </div>
            </div>

            <div class="flex-1">
                {{ form_label(form.avatar) }}
                {{ form_widget(form.avatar) }}
                {{ form_errors(form.avatar) }}
                {{ form_help(form.avatar) }}
            </div>

            <div class="flex flex-row gap-4">
                <div class="flex-1">
                    {{ form_widget(form.save) }}
                </div>
                <div class="flex-1">
                    <button type="button" data-action="modal#close" class="btn btn-secondary">Annuler</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </turbo-frame>
{% endblock %}


