{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Changer votre mot de passe</h1>

    <turbo-frame id="user-password">
        <div class="block md:flex md:flex-col md:gap-4 border p-2 md:p-4 rounded">
            {{ form_start(form, {action: path('profile.password')}) }}
            <div class="flex-1 ">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
                {{ form_help(form.password) }}
            </div>

            <div class="flex flex-row gap-4">
                <div class="flex-1">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_help(form.plainPassword.first) }}
                </div>
                <div class="flex-1">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_help(form.plainPassword.second) }}
                </div>
            </div>

            <div class="flex flex-row gap-4">
                <div class="flex-1">
                    {{ form_widget(form.submit) }}
                </div>
                <div class="flex-1">
                    <a href="{{ path('profile.index') }}">Annuler</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </turbo-frame>
{% endblock %}


