{% extends 'base.html.twig' %}

{% block title %}{{ 'user.address.home.title'|trans(domain = "title") }} - HardWareHouse{% endblock %}

{% block body %}
    <div class="md:flex md:gap-2 md:items-center md:mb-4">
        <h1>{{ 'user.address.home.title'|trans }}</h1>

            <a
                href="{{ path('address.new') }}"
                data-turbo-frame="modal_content"
                class="btn btn-primary"
            >
                {{ 'user.address.home.button.add.label'|trans }}
            </a>

        {#        <a href="{{ path('address.add') }}">{{ 'user.address.home.button.add.label'|trans }}</a>#}
    </div>

    <turbo-frame id="address_list">
        {% include 'user/address/_list.html.twig' %}
    </turbo-frame>

    {% include '_partials/_modal.html.twig' %}
{% endblock %}
