{% extends 'base.html.twig' %}

{% block title %}Catégories - HardWareHouse{% endblock %}

{% block body %}
    <h1>Categories list</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
        {% if categories is not null %}
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('category.show', {slug: category.slug}) }}">{{ category.id }}</a></td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td><img src="{{ category.logo }}" alt="logo of {{ category.name }}" class="size-16" /></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No results founds</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

{% endblock %}
