{% extends 'base.html.twig' %}

{% block title %}{{ product.brand.name }} {{ product.name }} - HardWareHouse{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4">
        <div class="flex flex-col md:flex-row gap-3.75">
            {{ include('product/_gallery.html.twig', { product: product }) }}
            <div class="shrink">
                <h1>{{ product.name }}</h1>
                <p>{{ product.shortDescription }}</p>
            </div>
        </div>

        {% from 'components/tabs.html.twig' import tabs %}

        {{ tabs([
            { label: 'Description', content: product.description },
            { label: 'Specs', content: include('product/_specs.html.twig', { 'attributes': attributes }) },
            { label: 'Avis', content: include('product/_reviews.html.twig') }
        ]) }}
    </div>
{% endblock %}

