{% extends 'base.html.twig' %}

{% block title %}{{ 'register.title'|trans(domain = "title") }} - HardWareHouse{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="mx-auto flex flex-col p-4 rounded border">
        <h1>{{ 'user.registration.title'|trans }}</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}
        <div>
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">{{ 'user.registration.submit'|trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
